@{
    ViewData["Title"] = "Home Page";
}

<style>.hero-banner {
    background: url('/image/7.png') center/cover no-repeat;
    height: 70vh;
    color: white;
    border-radius: 40px 40px 40px 40px;
}</style>
  

<div class="hero-banner d-flex align-items-center justify-content-center text-center text-black">
    <div class="container">
        <h1 class="display-4 fw-bold">Welcome to PC World</h1>
        <p class="lead">Find the best deals!</p>
        
    </div>
</div>
