@model ErrorViewModel
@{
    ViewData["Title"] = $"Error {@Model.StatusCode}";
}

<style>.hero-banner 
    {
        background: url('/image/500.png') center/cover no-repeat;
        height: 90vh;
        color: white;
    }
</style>


<div class="hero-banner  d-flex align-items-center justify-content-center text-center text-black">
    <div class="container">
        <h1>Error @Model.StatusCode</h1>
        <p>@Model.Message</p>
        @if (!string.IsNullOrEmpty(Model.Details))
        {
            <p>@Model.Details</p>
        }

    </div>
</div>

